VITE_SUPABASE_URL=https://czufzckcspdvpqqsrrvy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_r3a6u2PuynafZGhXcT-5sg_1qGuwbJC

---------------------- segunda BD -------------------------
VITE_SUPABASE_URL=https://dzxrzudjztteafmridkv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IaI6m8delqSCiTqp6T6b_g_sNnoXAKy